*.properties
*.lock
*.log
*.bin
*.prefs
*.launch
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
eclipse/
*.tree
*.location
build.gradle
*.dat
*.mca
*.json
*.dat_mcr
*.dat_old
G-Craft.iws
G-Craft.ipr
G-Craft.iml
*.gz
out/